[Unit]
Description=Doorbell Pi
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=WORKING_DIR
ExecStart=env python3 detect.py
Restart=always
